@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@font-face {
	font-family: "Cordel";
	src: url("fonts/cordelina.otf");
}

@font-face {
	font-family: "Cursiva";
	src: url("fonts/Please\ write\ me\ a\ song.ttf");
}

:root{
	--font1: Cordel;
	--font2: Cursiva;
	--font3: 'Sriracha', cursive;
}

*{
	margin: 0px;
	padding: 0px;
}

html, body {
	min-width: 300px;
	min-height: 100vh;
	background: darkgray url("./imagens/wood.jpg") fixed;
}

header {
	background-color: black;
	color: white;
	text-align: center;
}

header > h1 {
	padding-top: 50px;
	font: small-caps 100 80px var(--font1);
}

header > p {
	padding-bottom: 50px;
	font: 40px var(--font2);
}

a {
	color: rgb(234, 235, 183);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

main{
	max-width: 1000px;
	min-width: 300px;
	margin: auto;
	margin-bottom:20px;
	border-radius: 20px;
	box-shadow: 1px 2px 14px 0px black;
}

section {
	padding: 10vh 0 10vh 40px;
	line-height: 2em;
	font: 25px var(--font3);
}

section.normal {
	background-color: white;
}

section.normal:last-child{
	border-radius: 0 0 25px 25px;
}

section.imagem {
	background-color: darkgray;
	color: white;
	box-shadow: inset 6px 6px 13px 3px rgba(0, 0, 0, 0.4);
}

section.imagem > p {
	background-color: rgba(0, 0, 0, 0.2);
	display: inline-block;
	padding: 0 10px 0 10px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

section#img01{
	background: url("./imagens/cupofcoffee.jpg") right center / cover fixed;
}

section#img02{
	background: url("imagens/letter.jpg") right center / cover fixed;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 15px;
	font-size: 15px;
}